.topnav{
    height: 424px;
    background:url(../img/bg.jpg);
    background-size: 100% 100%;
}
.topnav-left{
    float: left;
}
.clasd{
    color: #fff;
    font-size: 14px;
    float: left;
    height: 34px;
    padding: 15px 24px;
    margin: 10.5px 0 0 14px;
}
.clasd i{
    float: right;
    margin: 6px ;
    width: 6px;
    height: 4px;
    background-size: 100% 100%;
    background-image: url(../img/1.png);

}
.duio{
    float: right;
    height: 42px;
    padding-top: 25px;
}
.duio a{
    float: left ;
    margin: 0 20px;
    font-size: 14px;
    color: #fff;

}

.duio span {
    float: left;
}

.duio i {
    float: left;
    display: block;
    width: 35px;
    /* height: 16px; */
}

.duio span{
    color: #fff;
}
.duio-xiao{
    border-bottom: 2px solid #fff;
}

.duio .login {
    background-image: url(../img/jinglingtu.png);
    height: 35px;
    background-position: 0 -539px;
    
}
.charu img{
    width: 574px;
    height: 32px;
    position: absolute;
    top: 76.5px;
}