.topnav-left{
    position: absolute;
    left: 50%;
    margin-left: -600px;
}

.topnav-left h1 a{
    background: url(../img/01.png);
    display: block;
    width: 55px;
    height: 55px;
    background-size: 100% 100%;
}

.ctyle{
    color: #222;
    font-size: 14px;
    float: left;
    height: 34px;
    padding: 5px 19px;
    margin: 20.5px 0 0px 63px;
    border-radius: 2px;
}

.ctyle-sead{
color: #222;
float: left;
height: 34px;
padding: 15px 24px;
margin: 10.5px 0 0 14px;
}

.ctyle-sasd i{
    display: inline-block;
    width: 6px;
    height: 3px;
    background: url(../img/02.png);
    background-size: 100% 100%;
}

.duio{
    float: right;
    height: 42px;
    padding-top: 25px;
}
.duio a{
    float: left ;
    margin: 0 20px;
    font-size: 14px;
    color: #222;
    line-height: 16px;

}

.duio span {
    float: left;
}

.duio span{
    color: #fff;
}
.duio-xiao{
    border-bottom: 2px solid #fff;
}

.duio-xiao-login {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../img/jing.png);
    background-size: 450px 300px;
    background-position: 0px -211.5px;
}

.ziyemian{
    /* position: relative; */
    z-index: 1;
    top: -64px;
    min-width: 1200px;
}

.ziyemian img{
    width: 100%;
    height: auto;
}

.mt {
    margin-top: -64px;
    min-width: 1200px;
}

h3 {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    color: #232e33;
    padding: 50px 0 55px 0;
    line-height: 40px;
}

.c2c-process {
    width: 1200px;
    height: 543px;
    margin: 0 auto;
}

ol, ul, li {
    list-style: none;
}

.c2c-process li {
    float: left;
    width: 397px;
    height: 543px;
    background-color: #f9f9fa;
    margin-right: 4px;
}

.c2c-process li .save-one {
    background: url(../img/02.02.jpg) no-repeat;
    background-size: 397px 414px;
    width: 397px;
    height: 414px;
}

.c2c-process li .t {
    padding: 38px 0 16px 32px;
    color: #232d33;
    font-size: 20px;
    line-height: 20px;
}

.c2c-process li .c {
    color: #2e3d47;
    font-size: 15px;
    padding: 0 0 0 32px;
    line-height: 15px;
}

.c2c-process li .save-two {
    background: url(../img/02.03.jpg) no-repeat;
    background-size: 397px 414px;
    width: 397px;
    height: 414px;
}

.c2c-process li:last-child {
    margin-right: 0;
}

.c2c-process li .save-three {
    background: url(../img/02.04.jpg) no-repeat;
    background-size: 397px 414px;
    width: 397px;
    height: 414px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.protect-box {
    background: #f9f9fa;
    padding-bottom: 85px;
    border-top: 235px solid #fff;
    min-width: 1200px;
}

.protect-box .w {
    width: 1200px;
    margin: 0 auto;
    margin-top: -156px;
}

.protect-box .w li {
    width: 600px;
    float: left;
}

.protect-box .w li .condition {
    background-image: url(../img/03.01.png);
    background-size: 356px 290px;
    width: 356px;
    height: 290px;
}

.protect-box .w li .c {
    color: #2e3d47;
    font-size: 15px;
    line-height: 45px;
    padding-bottom: 34px;
    margin-top: -10px;
}

.protect-box .w li .condition {
    background-size: 356px 290px;
    width: 356px;
    height: 290px;
}

.protect-box .w li .c {
    color: #2e3d47;
    font-size: 15px;
    line-height: 45px;
    padding-bottom: 34px;
    margin-top: -10px;
}

.protect-box .w li {
    width: 600px;
    float: left;
}

.protect-box .w li .t {
    color: #232d33;
    font-size: 35px;
    font-weight: bold;
    line-height: 35px;
    padding-bottom: 48px;
}


.protect-box .w li .c {
    color: #2e3d47;
    font-size: 15px;
    line-height: 45px;
    padding-bottom: 34px;
    margin-top: -10px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.protect-tui {
    position: relative;
    min-width: 1200px;
}


.protect-tui img {
    width: 100%;
    display: block;
    position: relative;
    z-index: 0;
}

.protect-tui .con {
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.protect-tui .con .pad {
    width: 630px;
    margin: 0 auto;
    padding: 10% 0 0 570px;
    z-index: 2;
}

.protect-tui .con .pad .t {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    position: relative;
    line-height: 37px;
    margin-bottom: 15%;
}

.protect-tui .con .pad .t:after {
    content: '';
    width: 51px;
    height: 6px;
    background: #fff;
    position: absolute;
    bottom: -30px;
    left: 0;
}

.protect-tui .con .pad li {
    float: left;
    width: 290px;
    color: #fff;
}

.protect-tui .con .pad li p {
    font-size: 20px;
    font-weight: bold;
    padding-bottom: 30px;
    line-height: 20px;
}


.protect-tui .con .pad li span {
    display: block;
    line-height: 30px;
    font-size: 15px;
    opacity: .6;
}


.protect-tui .con .pad li {
    float: left;
    width: 290px;
    color: #fff;
}

.protect-tui .con .pad li span {
    display: block;
    line-height: 30px;
    font-size: 15px;
    opacity: .6;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.protect-tui .con .pad .ps-text {
    color: #f9f9fa;
    font-size: 15px;
    padding-top: 10px;
    opacity: .5;
}

.with {
    height: 417px;
    background: #24c488;
    color: #fff;
    min-width: 1200px;
}

.with h3 {
    font-size: 40px;
    font-weight: bold;
    padding: 93px 0 56px 0;
    line-height: 40px;
    color: #fff;
}

.with .four-list {
    height: 184px;
    width: 1200px;
    margin: 0 auto;
    background-position: 0 40px;
    display: flex;
}

.with .four-list li {
    float: left;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    text-align: center;
    font-size: 15px;
}

.with .four-list li:nth-child(1) span {
    background-image: url(../img/04.01.png)
}

.with .four-list li span {
    display: block;
    width: 90px;
    height: 90px;
    background-size: 90px 90px;
    background-repeat: no-repeat;
    margin: 0 auto 30px auto;
}

.with .four-list li:nth-child(2) span {
    background-image: url(../img/04.02.png);
}

.with .four-list li:nth-child(3) span {
    background-image: url(../img/04.03.png);
}

.question {
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 30px;
}

.question h3 {
    padding-bottom: 79px;
}

.question .layouts .left {
    width: 449px;
    margin-right: 102px;
    float: left;
}

.question li {
    width: 449px;
    float: left;
    margin-bottom: 30px;
    border-bottom: 1px solid #e8f0ea;
}

.question li {
    width: 449px;
    float: left;
    margin-bottom: 30px;
    border-bottom: 1px solid #e8f0ea;
}

.question .p2 {
    color: #586067;
    font-size: 14px;
    line-height: 27px;
    padding-bottom: 20px;
}

.accident, .after-sale, .nub-tit {
    background: url(../img/04.04.png)no-repeat;
}
.nub-tit {
    display: inline-block;
    width: 25px;
    height: 22px;
    background-size: 62.5px 161px;
    background-position: -2.5px -131.5px;
    margin-bottom: 15px;
    margin-right: 13px;
}

.footer {
    padding: 50px 0 30px;
    background: #2a2c37;
}

.company-info {
    width: 1190px;
    height: 90px;
    margin: 0 auto;
    color: #b8b8b8;
    padding-bottom: 70px;
    position: relative;
}

.instructions-guazi-name {
    width: 1190px;
    color: #666;
    font-size: 12px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.friendly-link, .instructions-guazi-name {
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
}

.footer-logo {
    width: 102px;
    height: 102px;
    background-repeat: no-repeat;
    background-image: url(../img/12.png);
    background-size: 100% 100%;
    float: left;
    margin-left: 40px;
    margin-left: 20px;
}

.phone-email {
    float: left;
    width: 378px;
    padding-left: 30px;
}

.phone-email p {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 16px;
}

.phone-email p i {
    padding-right: 18px;
}

.phone-email p span {
    display: inline-block;
    font-size: 12px;
}

.phone-email p i {
    padding-right: 18px;
}

.phone-email p span {
    display: inline-block;
    font-size: 12px;
}

.phone-email p {
    line-height: 22px;
    font-size: 14px;
    margin-bottom: 16px;
}

.phone-email p i {
    padding-right: 18px;
}

.ewm-box {
    float: left;
    width: 85px;
    height: 105px;
    margin-top: 4px;
    margin-right: 30px;
    text-align: center;
    display: block;
}

.bg-old-ewm, .ewm-box img {
    display: block;
    width: 85px;
    height: 85px;
}

.ewm-box .ewm-tit {
    line-height: 22px;
    font-size: 14px;
}

.bg-new-ewm, .bg-old-ewm {
    background-size: 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.bg-old-ewm {
    background-image: url(../img/14.png);
}

.ewm-box .ewm-tit {
    line-height: 22px;
    font-size: 14px;
}

.ewm-box .ewm-tit-tip {
    width: 80px;
    height: 16px;
    background: #22ac38;
    font-family: PingFangSC-Regular;
    font-size: 10px;
    color: #fff;
    display: inline-block;
    line-height: 16px;
}

.company-info .basic-info {
    float: left;
    width: 390px;
    padding-left: 20px;
    background: transparent;
    margin: 0;
    overflow: hidden;
}

.info-link {
    line-height: 22px;
    font-size: 14px;
    padding-bottom: 8px;
}

.info-link a {
    color: #b8b8b8;
    margin-right: 5px;
}

.protect .police {
    display: inline-block;
    text-decoration: none;
    color: #939393;
    line-height: 28px;
    padding-left: 24px;
    position: relative;
    font-size: 12px;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.friendly-link {
    width: 1100px;
    padding: 0 0 0 90px;
    position: relative;
    overflow: hidden;
}

.friendly-link, .instructions-guazi-name {
    height: 28px;
    line-height: 28px;
    margin: 0 auto;
}

.link-tit {
    position: absolute;
    left: 0;
    top: 0;
    width: 90px;
    height: 28px;
    font-size: 16px;
}

.friendly-link a:hover, .link-tit {
    color: #666;
}

.close-box, .open-box {
    position: absolute;
    right: 0;
    display: block;
    width: 16px;
    height: 9px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}

.protect .police:before {
    content: "";
    width: 20px;
    height: 20px;
    background-position: 0 -62px;
    position: absolute;
    left: 0;
    top: 3px;
}

.protect .icon-315, .protect .icon-xin, .protect .police:before {
    background-image: url(../img/15.png);
    display: inline-block;
}

.open-box {
    top: 10px;
    background-position: -70px -100px;
}

.friendly-active .open-box, .friendly-link .close-box {
    display: none;
}

.close-box {
    bottom: 10px;
    background-position: -90px -100px;
}

.close-box, .open-box {
    position: absolute;
    right: 0;
    display: block;
    width: 16px;
    height: 9px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
}

.friendly-link a {
    color: #666;
    line-height: 28px;
    margin-right: 20px;
    display: inline-block;
    font-size: 12px;
}

