html{
    background-color: #ccc;
}
.index-headex{
    position: relative;
    width: 100%;
    height: 340rem/75;

    .head-index{
        position: absolute;
        top: 12rem/75;
        left: 0;
        z-index: 88;
        display: flex;
        width: 100%;
        height:64rem/75;
        padding: 0;
        font-size: 100%;
    
        .diqu{
            padding-left: 32rem/75;
            padding-right: 30rem/75;
            font-weight: 300;
            color: #303741;
            line-height:30rem/75 ;
            border-right: none;


            .diqu:before{
                content: '';
                background: url(../image/01.png) no-repeat;
                background-size: 20rem/75 auto;
                display: inline-block;
                width: .1rem;
                height: .1rem;
                margin-left: .06rem;
            }
        }
    }
    
    
}



